/* Your CSS here. */
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px;
    background-color: #f0f8ff;
}

.outter_card {
    background-color: #094293;
    margin: 3%;
}

.inner_card {
    display: flex;
    justify-content: center;
}

#My_photo {
    width: 35%;
    height: auto;
    margin: 10px;
}

.outter_card h1, .outter_card p {
    color: white;
    text-align: justify;
    align-items: end;
    margin: 2%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}